

.fixedBackground {
  position:fixed;
  overflow: hidden; 

}

.projectCards {
    /* margin-left:5px;
    margin-right:5px; */
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  
    /* width: 50%; */
    padding: 20px;
    text-align: center;
    background-color: rgb(48,67,109, 0.9);
    border-radius: 20px;
  }
  
  .portfolioHead {
    color: white;
    font-size: 24px;
    font-weight: bold;
    
    height: 50px;
    justify-content: center;
  
    /* font-weight: bolder; */
    text-align: center;
  }
  
  .portfolioCopy {
    color: white;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-left: 15px;
    width:90%;
  }
  
  .projectImage {
    width: 80%;

    margin-left: auto;
    margin-right: auto;

    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
  }
  
  .projectImage:hover {
    width: 80%;
    -webkit-filter: invert(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: invert(100%); /* FF 35+ */
  }
  