
a {
  color: lightgreen;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.homeHead {
  font-size: 80px;
  font-family: 'Monoton';
  color: white;

  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 10px;

  text-align: center;
}

.homeSubhead {
  font-size: 40px;
  color: white;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 100%;
}

.homeButtonDisplay {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#homeButton {
  font-size: 24px;
  color: white;

  margin-right:  30px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.particleBackground {
  overflow: hidden;
}



