.overlay-home{
  position: relative;

  position: fixed; 
   /* overflow-y: scroll; */
   top: 0; right: 0; bottom: 0; left: 0;
  
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

/* .homeBackground {
  width: 110%;
  margin-left: 15px;
} */

.navbarSection {
  z-index: 1;
  position: absolute;
  width: 110%;
  margin-left:-15px;
  text-align: center;
}

.mainSection {
  z-index: 2;
}


.overlay-portfolio{
  position: relative;

  position: fixed; 
   overflow-y: scroll;
   top: 0; right: 0; bottom: 0; left: 0;
  
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.mountain-center-overlay{
  position: relative;

  position: fixed; 
   overflow-y: scroll;
   top: 0; right: 0; bottom: 0; left: 0;

  margin-top: 300px;
}